*
{
    box-sizing: border-box;
}


body
{

    
    font-family: 'Poppins', sans-serif;
}

.container
{
    width: 600px;
    margin: 100px auto 0;
    background-color: #F6F6F6;
}

.container .newTask
{
    padding: 15px;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
    position: relative;
}

.container .newTask input
{
    display: inline-block;
    padding: 10px 15px;
    border: none;
    background-color: rgba(255,255,255,.3);
    width: calc(100% - 15px);
    color:  #fff;
    font-size: 20px;
}
.container .newTask input:focus
{
    outline: #990099;
}

.container .newTask .add
{
    position: absolute;
    right: 12px;  
    border-radius: 50%;
    height: 43px;
    width: 43px;
    background-color: #fff;
    line-height: 43px;
    text-align: center;
    color: #f91f85;
    cursor: pointer;
    font-size: 40px;
    transition: transform .3s;
}

.container .newTask .add:hover
{
    transform: rotate(180deg);
}

.container .content
{
    padding: 15px;

}

.container .content .empty
{
    color: #777;
    font-size: 15px;
}

.container .content > span
{
    display: block;
    background-color: #fff;
    padding: 10px;
}

.container .content > span:not(:last-child)
{
    margin-bottom: 10px;
}

.container .content .task .delete
{
    float: right;
    background-color: #E91E63;
    padding: 4px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.container .content .task.finished
{
    text-decoration: line-through;
}

.task-stats
{
    overflow: hidden;
    margin: 5px auto;
    width: 600px;
    font-size: 12px;
    border: 15px solid  #F6F6F6;

}

.task-stats .counter
{
    width: 50%;
    float: left;
    padding: 10px;
    font-weight: bold;
}

.task-stats .completed
{
    width: 50%;
    float: right;
    padding: 10px;
    text-align: right;
    font-weight: bold;
}

.task-stats .counter span,
.task-stats .completed span
{
    color: #fff;
    padding: 1px 5px;
    font-size: 10px;
    border-radius: 4px;
    font-weight: bold;
}
.task-stats .counter span
{
    background-color: #E91E63;
}

.task-stats .completed span
{
    background-color: #03A9FA;
}